* {
	box-sizing: border-box;
}

body {
	background-color: #c6c6c6;
	font-family: sans-serif;
}

header {
	display: flex;
	color: #daa520;
}

.menu__container .form__menu {
	display: none;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 3px;
	width: 100%;
	background-color: #453877;
}

.header__nav-logo-container {
	display: flex;
	align-items: center;
}

.header__nav-logo-container img {
	width: 6rem;
	border: 2px solid #daa520;
	border-radius: 15px;
	margin-right: 15px;
}

.header__nav-logo-empresa {
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header__nav-logo-container {
	font-size: 1rem;
}

.header__nav-ul {
	display: flex;
	flex-wrap: wrap;
}

.header__nav-li-item {
	list-style: none;
	margin: 0 2px;
	padding: 5px 10px;
	border-radius: 8px;
}

.header__nav-li-item:hover {
	background-color: #7062cbe9;
}

.header__nav-link-item {
	display: inline-block;
	text-decoration: none;
	padding: 3px 8px;
	color: #daa520;
	font-size: 1.1rem;
}

.header__nav-link-item:hover {
	color: #ffd700;
}

@media screen and (max-width: 900px) {
	.header {
		width: 100dvw;
	}

	.header__nav-navbar-container {
		display: flex;
	}
	.header__nav-ul {
		flex-direction: column;
	}
}
